body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Harmond';
  src: url('./assets/fonts/Harmond/Harmond-ExtBdItaExp.otf') format('opentype');
  font-weight: 700; /* Adjust weight according to the font style */
  font-style: italic; /* Adjust style if it’s italic */
}